@import 'fonts.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* header start */

.header {
    background: #322E41;
}

.header__nav, .header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    color: #fff;
    font-size: 16px;
    padding: 23px;
    display: inline-block;
    transition: .5s;
}

.header__link:hover {
    background: #fff;
    color: #D47300;
}

/* header end */
/* banner start */

.banner {
    position: relative;
    min-height: 500px;
    display: flex;
}

.banner__image-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.banner__content {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.banner__title {
    font-size: 50px;
}

.banner__txt {
    font-size: 18px;
}

/* banner end */